cycler>=0.11.0
ipykernel
jinja2>=3.0.3
matplotlib>=3.5.1
numpy>=1.20
pandas>=1.3
psutil>=5.9.0
pypandoc>=1.7
scipy>=1.7
sly>=0.5
titlecase>=2.3

setuptools>=62.3.2
recommonmark>=0.7.1
jupyter-sphinx
nbsphinx
sphinx>=1.4
sphinx-panels
IPython>=7.31
