cycler==0.11.0
ipython==8.10.0
Jinja2==3.1.2
matplotlib==3.7.0
numpy==1.23.0
pandas==1.5.3
psutil==5.9.4
scipy==1.10.1
sly==0.5
titlecase==2.4

docutils==0.16
jupyter-sphinx
nbsphinx
recommonmark>=0.7.1
setuptools>=62.3.2
sphinx>=1.4
sphinx-panels
sphinx-rtd-dark-mode
sphinxcontrib-bibtex
sphinx-copybutton
sphinx-toggleprompt
sphinx-multitoc-numbering


